<!DOCTYPE html>
<html lang="pl">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Aplikacja Planszówkowa</title>
    <link rel="stylesheet" href="static/styles/styles.css" />
  </head>
  <body>
    <header>
      <div class="header-container">
        <img
          src="static/images/logo-podwawelskie.jpeg"
          alt="Logo Podwawelskie Planszówki"
          class="header-logo"
        />
        <div class="header-text">
          <h1>Witaj w Aplikacji Planszówkowej!</h1>
          <p>Twoje miejsce do umawiania się na wspólne rozgrywki.</p>
        </div>
      </div>
    </header>

    <main>
      <section>
        <h2>O Aplikacji</h2>
        <p>
          Nasza aplikacja, przygotowana specjalnie dla
          <strong
            ><a
              href="https://www.facebook.com/groups/815188962980760/permalink/1445759926590324"
              >Podwawelskie Planszówki</a
            ></strong
          >, umożliwia tworzenie "stołów" dla gier planszowych, gdzie możesz
          dodawać informacje o grze, dołączać zdjęcia i zapraszać znajomych do
          wspólnej rozgrywki.
        </p>
      </section>

      <section>
        <h2>Funkcje</h2>
        <ul>
          <li>Tworzenie stołów dla gier planszowych</li>
          <li>Dodawanie opisów i zdjęć gier</li>
          <li>Rejestracja i logowanie użytkowników</li>
          <li>Dołączanie do stołów i organizowanie spotkań</li>
        </ul>
      </section>

      <section>
        <h2>Rozpocznij Grę</h2>
        <p>
          <a href="register">Zarejestruj się</a> lub
          <a href="login">Zaloguj</a>, aby rozpocząć organizowanie rozgrywek!
        </p>
      </section>
    </main>

    <footer>
      <p>&copy; 2025 Krystian Ostrogórski. Wszelkie prawa zastrzeżone.</p>
    </footer>
  </body>
</html>
